#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  padding-top:0;
  /* padding-bottom: 2rem; */
  text-align: center;
}

.background-image {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

}
.title {
  position: absolute;
  top: 10%; /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-family: impact;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.background-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

