:root {
  --orange: #b7572f;
  --teal: #377987;
  --pink: #ab4063;
  --overlay: rgba(170, 211, 223, 0.8);
  --title: 'Josefin Sans', sans-serif;
  --subtitle: 'Open Sans', sans-serif;
  --body: 'Lato', sans-serif;
}

#root {
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  font-family: var(--body);
}

/* .background-image {
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6rem;
  font-weight: 700;
  white-space: nowrap;
  opacity: 0.9;
  width: 100%;
} */

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.background-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.calendly iframe {
  height: 1000px !important;
}

.text-link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

.text-link:hover {
  color: var(--teal);
}

.text-link:visited {
  color: gray;
}

.gallery-like-link {
  font-family: var(--title);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(141, 125, 125);
  text-shadow: 1px 1px 1px rgba(171, 146, 146, 0.5);
}

.gallery-like-link:hover {
  color: var(--teal);
}

.customOverlay {
  /* background: rgba(36, 123, 160, 0.7); */
  /* background-color: transparent; */
  background-color: rgb(211, 211, 211, 0.7);
}

.customModal {
  background: whitesmoke;
  max-width: 500px;
  width: 80%;
  border-radius: 2rem;
  padding: 1rem;
}

.submit-button {
  margin-top: 1rem;
  height: 2.5rem;
  background-color: var(--teal);
  color: white;
  border-radius: 1.5rem;
}

.submit-button:hover {
  background-color: #d7d3ce ;
  color: black;
}

.logout-button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.logout-button:hover {
  background-color: black;  
}

.form-control {
  height: 1.3rem;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-family: var(--body);
}

.form-container {
  width: 70%;
}

.form-content {
  width: 100%;
}

@media (max-width: 768px) {
  .form-container {
    width: 85% !important;
  }
  .form-content {
    width: 90%;
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-left: 1.5rem;
  font-style: italic;
  font-family: var(--title);
}