:root {
  --orange: #b7572f;
  --teal: #377987;
  --pink: #ab4063;
  --overlay: rgba(170, 211, 223, 0.8);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0.5rem; */
  padding-top: 0;
  /* padding-bottom: 2rem; */
  text-align: center;
}

.background-image {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.title {
  position: absolute;
  top: 10%; /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
  white-space: nowrap;
  opacity: 0.8;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.background-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.calendly iframe {
  height: 1000px !important;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}

.customModal {
  background: #929788;
  max-width: 500px;
  width: 100%;
  border-radius: 1rem;
}

.submit-button {
  margin-top: 1rem;
  height: 2.7rem;
}

.form-control {
  height: 1.3rem;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  width: 20rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}