
.gallery-page {
  background-color: #fcfbf7;
  box-sizing: border-box;
  border: transparent 1px solid;
}

.card-gallery {
  display: grid;
  position: relative;
  margin-bottom: 10rem;
  margin-top: 6rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  /* border: blue 1px solid; */
  gap: 0.5rem;
}

@media (max-width: 1300px) {
  .card-gallery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1000px) {
  .card-gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 750px) {
  .card-gallery {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 550px) {
  .card-gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.gallery-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: red 1px solid; */
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
}

.galleryVid {
  width: 100%;
  object-fit: fill;
  object-position: center;
  /* background-color: burlywood; */
  padding: 0;
  border: none;
  margin: auto;
  text-align: center;
}

a,
p {
  color: black;
}

.submit-button {
  justify-self: center;
}

.link-container {
  grid-column: 1 / -1;
}

.navbar h1 {
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #7c7c7c;
  /* color: #4D4D4D; this is the colour used for the website he likes */
}

.navbar a {
  text-decoration: none;
  color: #7c7c7c;
  font-size: 1.2rem;
  margin-right: -10rem;
}

.navbar h2 {
  font-weight: 400;
}

.navbar a:hover {
  color: #21196d;
  font-weight: 400
}

.navbar img{
  margin-left: -10rem;
}
.navbar {
  display: flex;
 
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  /* position: fixed; */
  top: 0;
  height: 6rem;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* border: red 1px solid; */
}

/* brand {
  margin-left: 10rem;
  border: red 1px solid;
} */

.page-title {
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  text-align: center;
  position: relative;
  margin: 0 auto;
  /* border: red 1px solid; */
}

.nav-logo {
  width: 11rem;
  margin-left: 10rem;
}

.galleryVidWrapper {
  cursor: pointer;
}

a iframe {
  pointer-events: none;
}