.three-videos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 10px;
  width: 90%;
}

.simple-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  width: 70%;
}

.what-is-container {
  position: relative;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;
}

.video {
  width: 100%;
  max-width: 100px;
  margin: 5px;
}
