.three-videos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 10px;
  width: 90%;
  max-width: 800px;
}

.video {
  width: 100%;
  max-width: 100px;
  margin: 5px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 210px auto 50px auto;
  padding: 10px;
  width: 90%;
  max-width: 800px;
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
    max-width: 800px;
}

.faq-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5px 10px 5px;
    padding: 0 10px;
    width: 100%;
    max-width: 800px;
}

.faq-number-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px 5px;
    padding: 0;
    width: auto;
    max-width: 800px;
    font-size: 5em;
    font-weight: bold;
  }  

.faq-qa-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px 5px;
  padding: auto;
  max-width: 800px;
  font-size: 01em;   
}

.faq-question {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  margin: 30px 5px 5px 5px;
}