.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.logo {
    width: auto;
    height: 140px;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .form-container {
        width: 85%;
    }
}