.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 2rem;;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 5rem;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .left-side-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -1rem;
    width: auto;
    height: 100%;
  }

  .right-side-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1rem;
    width: auto;
    height: 100%;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    height: 140px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .desktop-menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: auto;
    height: 100%;
  }

  .desktop-menu-content-logged-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .login-button {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: auto;
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .burger-menu {
    display: none;
    cursor: pointer;
    transition: background-color 0.4s;
    align-self: center;
    margin: 1.2rem 2rem auto auto;
}

.bar {
    width: 50px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

#bar1 {
    background-color: black;
}

#bar2 {
    background-color: rgb(81, 80, 80);
}

#bar3 {
    background-color: rgb(117, 116, 116);
}

.burger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: auto;
    right: 4rem;
    background-color: white;
    z-index: 10;
    width: 40%;
    justify-content: start;  
    align-items: end;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.burger-menu-link {
    font-size: 1.2rem;
    color: var(--dusk);
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.burger-menu-link:hover {
    color: var(--sunset);
}

.burger-menu-link:active {
    color: var(--sunset);
    text-decoration: underline;
}

@media only screen and (min-width: 869px) {
    .burger-menu-content-border {
        display: none;
    }

    .burger-menu-content {
        display: none;
    }
}

@media only screen and (max-width: 868px) {
    .desktop-menu-content {
        display: none;
    }
    .burger-menu {
        display: block;
        margin-right: 40px;
        align-self: center;
    }

    .burger-menu-content {
        height: auto;
        padding: 0 1rem 1rem 0;
    }
}
